.passHeader{

    font-size: 23px;
    color: black;
    width: 400;
    height: 40px;
  
  }
  
  .passBorder{
  
    background-color: white;
    width: 800px;
    border: 15px solid #FFC629;
    padding: 50px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }