/*Dakota- Added CSS for our prototype form*/
.formHeader{

    font-size: 70px;
    color: black;
    text-align: center;
    width: 400;
    height: 150px;
  
  }
  
  .formText{
  
    font-size: 20px;
    color:black ;
    text-align: center;
    width: 800px;
    height: 20x;
    display: flex;
  
  
  }
  .formBody{
  
    background-color: white;
    width: 800px;
    border: 15px solid #FFC629;
    padding: 50px;
    margin: auto;
  
  
  }

  .CreateTextQuestion{
    color: black;
    position: fixed;
    left: 1100px;
    top: 200px;
    width: 235px;
    background: rgb(255, 198, 41);
    border: 0px rgb(255, 198, 41) ;


  }

  .CreateMultiQuestion{
    color: black;
    position: fixed;
    left: 1100px;
    top:300px;
    background: rgb(255, 198, 41);
    border: 0px rgb(255, 198, 41);
  }

  .CreateScaleQuestion{
    color:black;
    position: fixed;
    left:1100px;
    top:400px;
    width:235px;
    background: rgb(255, 198, 41);
    border: 0px rgb(255, 198, 41);
  }

  .buttons{
    align-items: center;
  }
  
  .button{
  
    color: #1A5632;
  
  }

  .FormPopUpBackground{
    position: fixed;
    left: 900px;
    top: 200px;
    background-color: white;
    border: 5px solid rgb(255, 198, 41);
  }
  
  .formPos
  {
    margin: auto;
    position: absolute;
    top: 131%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
  

  }

  body{
    background-color: #ffff;
    /*margin-left: 850px;
    margin-right: 300px;
    width: 200px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: right;*/
  }

  .editBorder{
  
    background-color: white;
    width: 800px;
    height: 500px;
    border: 15px solid #FFC629;
    padding: 50px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
  
    justify-content: center;
  }

  .editCenter{
    margin: auto;
    position: fixed;
    top: 33%;
    left: 30%;
    display:grid;
  }

  .layer1, .layer2, .layer3
  {
    grid-column: 1;
    grid-row: 1;
    padding: 25px 25px 25px 25px;
  }

  .layer2
  {
    grid-column: 1;
    grid-row: 2;
  }

  .layer3
  {
    grid-column: 1;
    grid-row: 3;
  }

  .editHeader{

    font-size: 25px;
    color: black;
    width: 400;
    height: 60px;
  
  }
  