.create-button{
    position: absolute;
    left: 625px;
    top:500px;
    border: 5px rgb(27, 86, 51);
    background-color: azure;

}

.buttonC
{
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);


}

.header{
    padding: 60px;
    text-align: center;
    background: rgb(255, 198, 41);
    color: rgb(27, 86, 51);
    font-size: 30px;
}

.PopUpBackground{
    background-color: white;
    border: 5px white;
}

.New-Form{
    top: 400px;
}


  
  .portHeader{

    font-size: 25px;
    color: black;
    width: 400;
    height: 40px;
  
  }

.portBorder{
  
  background-color: white;
  width: 800px;
  height: 400px;
  border: 15px solid #FFC629;
  padding: 50px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;

  justify-content: center;
}

.portCenter{
  margin: auto;
  position: fixed;
  top: 40%;
  left: 35%;
  display:grid;
}

.layer1
{
  grid-column: 1;
  grid-row: 1;
  padding: 25px 25px 25px 25px;
}